.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: rgb(38, 22, 53);
    /* Fondo negro */
    color: white;
    /* Texto blanco para que sea legible */
}

/* -------------NAVBAR STYLES------------- */

/* PORTATIL */
@media (min-width: 768px) {
    .navegacionMovil * {
        display: none;
    }

    .navbar-lateral {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: #333;
        color: white;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
}

/* MOBILE */
@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .navegacionPortatil * {
        display: none;
    }

    .navbar-top {
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333;
        color: white;
        z-index: 1000;
    }

    .navbar-brand {
        color: aliceblue;
    }
}